.dart_tool/
.packages
build/
.flutter-plugins*
android/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.xcuserstate
**/xcuserdata/
.DS_Store
